@font-face {
    font-family: "Formular bold";
    src: url("/FromBoard Delivery/fonts/Formular-Bold.ttf");
}

@font-face {
    font-family: "Formular";
    src: url("/FromBoard Delivery/fonts/Formular.ttf");
}

@font-face {
    font-family: "Formular Light";
    src: url("/FromBoard Delivery/fonts/Formular-Light.ttf");
}