@font-face {
    font-family: "Formular Bold";
    src: url("/fonts/Formular-Bold.ttf");
}

@font-face {
    font-family: "Formular";
    src: url("/fonts/Formular.ttf");
}

@font-face {
    font-family: "Formular Light";
    src: url("/fonts/Formular-Light.ttf");

}

