.wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: sans-serif;
    font-family: "Formular";

  }

  
  /* ---------------------- */
  
  .main {
    flex: 1 1 auto;
  }
  
  [class*='__container'] {
    max-width: 1536px;
    margin: 0 192px auto;
  }